{% extends "dashboard/base.html"%}
{% load static %}
{% load jalali_tags %}
{% load tags %}
{% block head %}
{{block.super}}
<link rel="stylesheet" href="{% static 'admin/jquery.ui.datepicker.jalali/themes/base/jquery-ui.min.css' %}">
<script src="{% static 'admin/js/django_jalali.min.js' %}"></script>
<style>
    label {
        font-size: 16.5px;
        color: gray;
    }

    .card-body {
        text-align: right;
    }
</style>
{% endblock%}
{% block content %}
<div class="mt-5" dir="rtl">
    <div class="row">
        <div class="col-md-3" dir="ltr"><span class="pr-2">{{meta.meta_value.order_number}}</span><span
                class="h6">:شماره سفارش</span></div>
        <div class="col-md-6">
            <h3 class="text-center">دستور کار</h3>
        </div>
        <div class="col-md-3">
            <p class="h6 pr-5 text-left"><span>تاریخ سفارش:
                </span><span>{{order.created_at|to_jalali:'%Y/%m/%d'}}</span></p>
        </div>
    </div>
    <div class="card mb-5 bq-primary shadow shadow-md mt-5 text-center">
        <div class="card-header h4 text-center card-title">مشخصات اصلی</div>
        <div class="card-body text-center">
            <div class="row">
                <div class="col-md-3" dir="rtl">
                    <p class="card-text"><span class="h5 text-secondary">عنوان سفارش: </span><span
                            class="h6">{{order.order_title}}</span></p>
                </div>
                <div class="col-md-3" dir="rtl">
                    <p class="card-text"><span class="h5 text-secondary text-right">نام مشتری: </span><span
                            class="h6">{{order.customer_id}}</span></p>
                </div>
                <div class="col-md-3" dir="rtl">
                    <p class="card-text"><span class="h5 text-secondary text-right">روند مرتبط: </span><span
                            class="h6">{{order.process_id}}</span></p>
                </div>
                <div class="col-md-3" dir="rtl">
                    <p class="card-text"><span class="h5 text-secondary text-right">تاریخ تحویل: </span><span
                            class="h6">
                            {% with date=meta.meta_value.delivery_date|convert_str_date %}
                            {{date|to_jalali:'%Y/%m/%d'}}
                            {% endwith %}
                        </span></p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-5 bq-primary shadow shadow-md mt-5 text-center">
        <div class="h5 mt-2 text-center card-title">جزئیات</div>
        <div class="card text-center">
            <h5 class="card-header bg-dark text-light" aria-label="Show">عمومی</h5>
            <div class="card-body text-center">
                <div class="row mt-4">
                    <div class="col-md-4">
                        <label for="{{form.payment_type.id_for_label}}">شیوه تسویه:</label>
                        {{meta.meta_value.payment_type}}
                    </div>
                    <div class="col-md-4">
                        <label for="{{form.outsource.id_for_label}}">برون‌سپاری:</label>
                        {% if meta.meta_value.outsource == "True" %}
                        دارد
                        {% else %}
                        ندارد
                        {% endif %}
                    </div>
                    <div class="col-md-4">
                        <label for="{{form.outsource_action.id_for_label}}">عملیات برون سپاری:</label>
                        {% if meta.meta_value.outsource == "True" %}
                        {{meta.meta_value.outsource_action}}
                        {% else %}
                        ----
                        {% endif %}
                    </div>
                </div>
                <hr>
                <div class="row mt-3">
                    <div class="col-md-4">
                        <label for="{{form.final_circulation.id_for_label}}">تیراژ نهایی:</label>
                        {{meta.meta_value.final_circulation}}
                        {{meta.meta_value.final_circulation_type}}
                    </div>
                    <div class="col-md-4">
                        <label for="{{form.layers.id_for_label}}">تعداد لایه ها:</label>
                        {{meta.meta_value.layers}}
                    </div>
                    <div class="col-md-4">
                        <label for="{{form.layer_circulation.id_for_label}}">تیراژ لایه ها:</label>
                        {{meta.meta_value.layer_circulation}}
                    </div>
                </div>

            </div>
        </div>
        {% if perms.order.Can_view_paper%}
        <div class="card text-center">
            <h5 class="card-header bg-dark text-light ">کاغذ/مقوا</h5>
            <div class="card-body text-center">
                <div class="row">
                    <div class="col-md-4">
                        <label for="{{form.paper_supplier.id_for_label}}">تامین کننده کاغذ:
                        </label>
                        {{meta.meta_value.paper_supplier}}
                    </div>
                    <div class="col-md-4">
                        <label for="{{form.paper_type.id_for_label}}">نوع کاغذ:</label>
                        {{meta.meta_value.paper_type}}
                    </div>
                    <div class="col-md-4">
                        <label for="{{form.paper_weigth.id_for_label}}">گرماژ:</label>
                        {{meta.meta_value.paper_weigth}}
                    </div>
                    <div class="col-md-4">
                        <label for="{{form.paper_brand.id_for_label}}">برند:</label>
                        {{meta.meta_value.paper_brand}}
                    </div>
                    <div class="col-md-4">
                        <label for="{{form.paper_supplier.id_for_label}}">SG v LG:
                        </label>
                        {{meta.meta_value.unknowOption}}
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-4">
                        <label for="{{form.paper_amount.id_for_label}}">تعداد کل کاغذ/مقوا:</label>
                        {{meta.meta_value.paper_amount}}
                    </div>
                    <div class="col-md-4">
                        <label for="{{form.paper_waste_amount.id_for_label}}">تعداد کاغذ/مقوا باطله:</label>
                        {{meta.meta_value.paper_waste_amount}}
                    </div>
                    <div class="col-md-4">
                        <label for="{{form.paper_used_amount.id_for_label}}">تعداد کاغذ/مقوا مفید:</label>
                        {{meta.meta_value.paper_used_amount}}
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-4">
                        <label for="{{form.paper_legit_size.id_for_label}}">اندازه اولیه کاغذ/مقوا:</label>
                        {{meta.meta_value.paper_legit_size}}
                    </div>
                    <div class="col-md-4">
                        <label for="{{form.papaer_self_provide.id_for_label}}">تعداد قابل تامین توسط شرکت:</label>
                        {{meta.meta_value.papaer_self_provide}}
                    </div>
                    <div class="col-md-4">
                        <label for="{{form.paper_customer_provide.id_for_label}}">تعداد قابل تامین از انبار امانی
                            مشتری:</label>
                        {{meta.meta_value.paper_customer_provide}}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% if perms.order.Can_view_litography%}
        <div class="card text-center">
            <h5 class="card-header bg-dark text-light ">لیتوگرافی</h5>
            <div class="card-body text-center">
                <div class="row">
                    <div class="col-md-4">
                        <label for="{{form.print_plate_amount.id_for_label}}">تعداد زینک:</label>
                        {{meta.meta_value.print_plate_amount}}
                    </div>
                    <div class="col-md-4">
                        <label for="{{form.print_plate_burn.id_for_label}}">زینک سوزی:</label>
                        {% if meta.meta_value.print_plate_burn == True %}
                        دارد
                        {% else %}
                        ندارد
                        {% endif %}
                    </div>
                    <div class="col-md-4">
                        <label for="{{form.paper_work_size.id_for_label}}">ابعاد کار:</label>
                        {{meta.meta_value.paper_work_size}}
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-4">
                        <label for="{{form.print_plate_provider.id_for_label}}">تامین کننده زینک:
                        </label>
                        {{meta.meta_value.print_plate_provider}}
                    </div>
                    <div class="col-md-4">
                        <label for="{{form.ordering_on_print_plate.id_for_label}}">تعداد چیدمان در هر زینک:</label>
                        {{meta.meta_value.ordering_on_print_plate}}
                    </div>
                    <div class="col-md-4">
                        <label for="{{form.print_plate_file.id_for_label}}">آدرس فایل گرافیکی:</label>
                        <a href="{{meta.meta_value.print_plate_file.location}}"
                            download>{{meta.meta_value.print_plate_file.name}}</a>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% if perms.order.Can_view_befor_cut%}
        <div class="card text-center">
            <h5 class="card-header bg-dark text-light">برش قبل از چاپ</h5>
            <div class="card-body text-center">
                <div class="row">
                    <div class="col-md-3">
                        <label for="{{form.paper_size_before_cut.id_for_label}}">ابعاد اولیه کاغذ:</label>
                        {{meta.meta_value.paper_size_before_cut}}
                    </div>
                    <div class="col-md-3">
                        <label for="{{form.paper_amount_recived.id_for_label}}">تعداد کل کاغذ دریافتی از انبار:</label>
                        {{meta.meta_value.paper_amount_recived}}
                    </div>
                    <div class="col-md-3">
                        <label for="{{form.paper_work_size_after_cut.id_for_label}}">ابعاد کاغذ پس از برش</label>
                        {{meta.meta_value.paper_work_size_after_cut}}
                    </div>
                    <div class="col-md-3">
                        <label for="{{form.paper_amount_after_cut.id_for_label}}">تعداد کاغذ بعد از برش</label>
                        {{meta.meta_value.paper_amount_after_cut}}
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-3">
                        <label for="{{form.return_wasted_paper.id_for_label}}">کناره کاغذ/مقوا تحویل مشتری گردد:</label>
                        {% if meta.meta_value.return_wasted_paper == True %}
                        دارد
                        {% else %}
                        ندارد
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% if perms.order.Can_view_print%}
        <div class="card text-center">
            <h5 class="card-header bg-dark text-light">چاپ</h5>
            <div class="card-body text-center">
                <div class="row">
                    <div class="col-md-3">
                        <label for="{{form.qc.id_for_label}}">تصدیق چاپ توسط QC:</label>
                        {% if meta.meta_value.qc == True %}
                        دارد
                        {% else %}
                        ندارد
                        {% endif %}
                    </div>
                    <div class="col-md-3">
                        <label for="{{form.superviser.id_for_label}}">ناظر:
                        </label>
                        {{meta.meta_value.superviser}}
                    </div>
                    <div class="col-md-3">
                        <label for="{{form.sample_view.id_for_label}}">نمونه شاهد:
                        </label>
                        {{meta.meta_value.sample_view}}
                    </div>
                    <div class="col-md-3">
                        <label for="{{form.parallel_cover.id_for_label}}">انتخاب رنگ‌ها:
                        </label>
                        {{meta.meta_value.parallel_cover}}
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-3">
                        <label for="{{form.color_pallet_range.id_for_label}}">تعداد رنگ:</label>
                        {{meta.meta_value.color_pallet_range}}
                    </div>
                    <div class="col-md-3">
                        <label for="{{form.color_pallet.id_for_label}}">انتخاب رنگ‌ها:
                        </label>
                        {% for x in meta.meta_value.color_pallet %}
                        {{x.display}}
                        {% endfor %}
                    </div>
                    <div class="col-md-3">
                        <label for="{{form.spot_colors.id_for_label}}">رنگ‌های Spot:</label>
                        {{meta.meta_value.spot_colors}}
                    </div>
                    <div class="col-md-3">
                        <label for="{{form.pantone_colors.id_for_label}}">رنگ‌های Pantones:</label>
                        {{meta.meta_value.pantone_colors}}
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-3">
                        <label for="{{form.print_option.id_for_label}}">نحوه چاپ:
                        </label>
                        {{meta.meta_value.print_option}}
                    </div>
                    <div class="col-md-3">
                        <label for="{{form.print_machines_count.id_for_label}}">تعداد دستگاه‌ها:</label>
                        {{meta.meta_value.print_machines_count}}
                    </div>
                    <div class="col-md-3">
                        <label for="{{form.forms_count.id_for_label}}">تعداد فرم:</label>
                        {{meta.meta_value.forms_count}}
                    </div>
                    <div class="col-md-3">
                        <label for="{{form.print_graphhical_file.id_for_label}}">پیوست فایل گرافیکی:</label>
                        <a href="{{meta.meta_value.print_graphhical_file.location}}"
                            download>{{meta.meta_value.print_graphhical_file.name}}</a>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col">
                        <label for="{{form.print_discription.id_for_label}}">توضیحات:</label>
                        {{meta.meta_value.print_discription}}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% if perms.order.Can_view_hard_cover%}
        <div class="card text-center">
            <h5 class="card-header bg-dark text-light  ">پوشش تخت</h5>
            <div class="card-body text-center">
                <div class="row">
                    <div class="col-md-4">
                        <label for="{{form.flat_cover.id_for_label}}">نوع پوشش تخت:
                        </label>
                        {% for covers in meta.meta_value.flat_cover %}
                            <span class="btn btn-outline-primary btn-sm">{{covers}}</span>
                        {% endfor %}
                    </div>
                    <div class="col-md-4">
                        <label for="{{form.flat_cover_detail.id_for_label}}">محل خالی کردن:
                        </label>
                        {% for covers in meta.meta_value.flat_cover_detail %}
                            <span class="btn btn-outline-primary btn-sm">{{covers}}</span>
                        {% endfor %}
                    </div>
                    <div class="col-md-4">
                        <label for="{{form.flat_cover_file.id_for_label}}">فایل پیوست پوشش
                        </label>
                        <a href="{{meta.meta_value.flat_cover_file.location}}"
                            download>{{meta.meta_value.flat_cover_file.name}}</a>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col">
                        <label for="{{form.print_discription.id_for_label}}">توضیحات:</label>
                        {{meta.meta_value.print_discription}}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% if perms.order.Can_view_plastic_cover%}
        <div class="card text-center">
            <h5 class="card-header bg-dark text-light ">سلفون</h5>
            <div class="card-body text-center">
                <div class="row">
                    <div class="col-md-6">
                        <label for="{{form.plastic_covers.id_for_label}}">گزینه های سلفون
                        </label>
                        {% for cover in meta.meta_value.plastic_covers %}
                            <span class="btn btn-outline-primary btn-sm">{{cover}}</span>
                        {% endfor %}
                    </div>
                    <div class="col-md-6">
                        <label for="{{form.plastic_discription.id_for_label}}">توضیحات:</label>
                        {{meta.meta_value.plastic_discription}}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% if perms.order.Can_view_part_cover%}
        <div class="card text-center">
            <h5 class="card-header bg-dark text-light ">پوشش موضعی</h5>
            <div class="card-body text-center">
                <div class="row">
                    <div class="col-md-6">
                        <label for="{{form.part_cover.id_for_label}}">پوشش موضعی
                        </label>
                        {% for cover in meta.meta_value.part_cover %}
                            <span class="btn btn-outline-primary btn-sm">{{cover}}</span>
                        {% endfor %}
                    </div>
                    <div class="col-md-6">
                        <label for="{{form.part_cover_file.id_for_label}}">پیوست فایل پوشش موضعی</label>
                        <a href="{{meta.meta_value.part_cover_file.location}}"
                            download>{{meta.meta_value.part_cover_file.name}}</a>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col">
                        <label for="">توضیحات:</label>
                        {{meta.meta_value.part_cover_description}}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% if perms.order.Can_view_hotstamp%}
        <div class="card text-center">
            <h5 class="card-header bg-dark text-light ">هات استمپ</h5>
            <div class="card-body text-center">
                <div class="row">
                    <div class="col-md-4">
                        <label for="{{form.hotstamp_sample.id_for_label}}">نمونه هات استمپ:
                        </label>
                        {{meta.meta_value.hotstamp_sample}}
                    </div>
                    <div class="col-md-4">
                        <label for="{{form.hotstamp_foil_color.id_for_label}}">رنگ فویل:
                        </label>
                        {{meta.meta_value.hotstamp_foil_color}}
                    </div>
                    <div class="col-md-4">
                        <label for="{{form.hotstamp_file.id_for_label}}">پیوست فایل هات استمپ:
                        </label>
                        <a href="{{meta.meta_value.hotstamp_file.location}}"
                            download>{{meta.meta_value.hotstamp_file.name}}</a>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-4">
                        <label for="{{form.cliche_type.id_for_label}}">نوع کلیشه:
                        </label>
                        {{meta.meta_value.cliche_type}}
                    </div>
                    <div class="col-md-4">
                        <label for="{{form.cliche_provider.id_for_label}}">کلیشه
                        </label>
                        {{meta.meta_value.cliche_provider}}
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col">
                        <label for="{{form.print_discription.id_for_label}}">توضیحات:</label>
                        {{meta.meta_value.print_discription}}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% if perms.order.Can_view_shield%}
        <div class="card text-center">
            <h5 class="card-header bg-dark text-light ">پوشال</h5>
            <div class="card-body text-center">
                <div class="row">
                    <div class="col-md-12 mt-1">
                        <label for="{{form.sheild.id_for_label}}">پوشال گیری:
                        </label>
                        {{meta.meta_value.sheild}}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% if perms.order.Can_view_window_sticking%}
        <div class="card text-center">
            <h5 class="card-header bg-dark text-light ">پنجره چسبانی</h5>
            <div class="card-body text-center">
                <div class="row">
                    <div class="col-md-4">
                        <label for="{{form.window_sticking.id_for_label}}">پنجره چسبانی</label>
                        {{meta.meta_value.sheild}}
                    </div>
                    <div class="col-md-4">
                        <label for="{{form.window_width.id_for_label}}">عرض نایلون/طلق:</label>
                        {{meta.meta_value.window_width}}
                    </div>
                    <div class="col-md-4">
                        <!-- ضخامت رو اضافه کنم -->
                        <label for="{{form.window_width.id_for_label}}">ضخامت نایلون/طلق:</label>
                        {{meta.meta_value.window_width}}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% if perms.order.Can_view_box_sticking%}
        <div class="card text-center">
            <h5 class="card-header bg-dark text-light ">جعبه چسبانی</h5>
            <div class="card-body text-center">
                <div class="row">
                    <div class="col-md-12">
                        <label for="{{form.box_sticking.id_for_label}}">جعبه چسبانی
                        </label>
                        {% for box in meta.meta_value.box_sticking %}
                            <span class="btn btn-outline-primary btn-sm">{{box}}</span>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% if perms.order.Can_view_bindray%}
        <div class="card text-center">
            <h5 class="card-header bg-dark text-light ">صحافی</h5>
            <div class="card-body text-center">
                <div class="row">
                    <div class="col-md-4">
                        <label for="{{form.bindray_cut.id_for_label}}">برش:
                        </label>
                        {{meta.meta_value.bindray_cut}}
                    </div>
                    <div class="col-md-4">
                        <label for="{{form.bindray_size.id_for_label}}">ابعاد نهایی برش:</label>
                        {{meta.meta_value.bindray_cut}}
                    </div>
                    <div class="col-md-4">
                        <label for="{{form.bindray_detail.id_for_label}}">جزئیات: </label>
                        {% for box in meta.meta_value.bindray_detail %}
                            <span class="btn btn-outline-primary btn-sm">{{box}}</span>
                        {% endfor %}
                    </div>
                    <div class="col-md-4">
                        <label for="">کاور صحافی ۱:</label>
                        {% for box in meta.meta_value.bindary_cover %}
                            <span class="btn btn-outline-primary btn-sm">{{box}}</span>
                        {% endfor %}
                    </div>
                    <div class="col-md-4">
                        <label for="">کاور صحافی ۲:</label>
                        {% for box in meta.meta_value.bindary_cover2 %}
                            <span class="btn btn-outline-primary btn-sm">{{box}}</span>
                        {% endfor %}
                    </div>
                </div>
                <hr>
                <div class="row text-center">
                    <div class="col-md-3">
                        <label for="{{form.bindray_serial.id_for_label}}">شماره سریال: </label>
                        {% if meta.meta_value.bindray_serial == True %}
                            <span class="btn btn-outline-success">دارد</span>
                        {% else %}
                            <span class="btn btn-outline-danger">ندارد</span>
                        {% endif%}
                    </div>
                    <div class="col-md-6">
                        <span class="pr-2 pl-2">شماره سریال:</span>
                        <span class="pr-2 pl-2">از</span>
                        <span class="pl-2 pr-2 text-primary">{{meta.meta_value.bindray_serial_number_start}}</span>
                        <span class="pr-2 pl-2">تا</span>
                        <span class="pr-2 pl-2 text-primary">{{meta.meta_value.bindray_serial_number_end}}</span>
                    </div>
                    <div class="col-md-3">
                        <span class="">ترتیب نسخه ها:</span>
                        {{meta.meta_value.bindary_order}}
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-12">
                        <label for="">توضیحات:</label>
                        {{meta.meta_value.bindary_description}}
                    </div>
                </div>
            </div>

        </div>
        {% endif %}
        {% if perms.order.Can_view_customize%}
        <div class="card text-center">
            <h5 class="card-header bg-dark text-light ">شخصی سازی</h5>
            <div class="card-body text-center">
                <div class="row">
                    <div class="col-md-6">
                        <label for="">شخصی سازی:</label>
                        {% for box in meta.meta_value.customize %}
                            <span class="btn btn-outline-primary btn-sm">{{box}}</span>
                        {% endfor %}
                    </div>
                    <div class="col-md-6">
                        <span class="mt-2 mr-4">نحوه تحویل پین/سریال/کد:</span>
                        {{meta.meta_value.pin_code}}
                    </div>
                </div>
            </div>
            {% endif %}
            {% if perms.main_app.Can_view_customize%}
            <div class="card text-center">
                <h5 class="card-header bg-dark text-light ">بسته بندی</h5>
                <div class="card-body text-center">
                    <div class="row">
                        <div class="col-md-3">
                            <label for="{{form.send_type.id_for_label}}">نحوه ارسال به مشتری:</label>
                            {% for box in meta.meta_value.send_type %}
                            <span class="btn btn-outline-primary btn-sm">{{box}}</span>
                             {% endfor %}
                        </div>
                        <div class="col-md-3">
                            <label for="{{form.shiring_amount.id_for_label}}">تعداد شرینگ</label>
                            {{meta.meta_value.shiring_amount}}
                        </div>
                        <div class="col-md-3">
                            <label for="{{form.lafaf_amount.id_for_label}}">تعداد لفاف</label>
                            {{meta.meta_value.lafaf_amount}}
                        </div>
                        <div class="col-md-3">
                            <label for="{{form.bandinak_amount.id_for_label}}">تعداد بندینک</label>
                            {{meta.meta_value.bandinak_amount}}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-3">
                            <label for="{{form.packing_type.id_for_label}}">نوع کارتن:
                            </label>
                            {{meta.meta_value.packing_type}}
                        </div>
                        <div class="col-md-3">
                            <label for="">توضیحات:</label>
                            {{meta.meta_value.packing_description}}
                        </div>
                        <div class="col-md-3">
                            <label for="{{form.box_amount.id_for_label}}">تعداد در کارتن:</label>
                            <span class=" pr-4">{{meta.meta_value.box_amount}}</span>
                        </div>
                        <div class="col-md-3">
                            <label for="{{form.packing_provider.id_for_label}}">تامین کننده کارتن:</label>
                            <span class=" pr-4">{{meta.meta_value.packing_provider}}</span>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-3">
                            <label>سبد:</label>
                            {% if meta.meta_value.basket == True %}
                            <span class="btn btn-outline-success">دارد</span>
                            {% else %}
                                <span class="btn btn-outline-danger">ندارد</span>
                            {% endif%}
                        </div>
                        <div class="col-md-3">
                            <label for="">نایلون: </label>
                            {% if meta.meta_value.plastic == True %}
                            <span class="btn btn-outline-success">دارد</span>
                            {% else %}
                                <span class="btn btn-outline-danger">ندارد</span>
                            {% endif%}
                        </div>
                        <div class="col-md-3">
                            <label for="{{form.basket_amount.id_for_label}}">تعداد در سبد</label>
                            {{meta.meta_value.basket_amount}}
                        </div>
                        <div class="col-md-3">
                            <label for="{{form.basket_provider.id_for_label}}">تامین کننده سبد
                            </label>
                            {{meta.meta_value.basket_provider}}
                        </div>
                       
                    </div>
                    <hr>
                    <div class="col">
                        <label for="">توضیحات:</label>
                        {{meta.meta_value.basket_description}}
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-4">
                            <label for="{{form.basket_type.id_for_label}}">حمل و نقل:
                            </label>
                            {% for box in meta.meta_value.basket_type %}
                            <span class="btn btn-outline-primary btn-sm">{{box}}</span>
                             {% endfor %}
                        </div>
                        <div class="col-md-4">
                            <label for="{{form.label_detail.id_for_label}}">موارد مندرج در لیبل اختصاصی:</label>
                            {{meta.meta_value.label_detail}}
                        </div>
                        <div class="col-md-4">
                            <label for="{{form.label_type.id_for_label}}">لیبل‌ها:
                            </label>
                            <span class="pr-4">{{meta.meta_value.label_type}}</span>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <label for="">توضیحات:</label>
                        {{meta.meta_value.other_description}}
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        <table class="table  rounded shadow text-center table-striped" dir="rtl">
            <thead class="thead">
                <tr>
                    <th scope="col">ردیف</th>
                    <th scope="col">وظیفه جاری</th>
                    <th scope="col">وضعیت وظیفه جاری</th>
                    <th scope="col">امکانات</th>
                </tr>
            </thead>
            <tbody>
                {% for action in actions %}
                    {% with previous_element=actions|previous:forloop.counter0 %}
                        {% if previous_element.status == finished or forloop.first %}
                            {% if action in UserActions%}
                            <tr style="border-right: 3px solid blue;" class="rounded">
                                <th scope="row">{{forloop.counter}}</th>
                                <td>{{action.process_action}}</td>
                                <td><span class="border p-2 rounded"
                                        style="background-color: #{{action.status.color}};">{{action.status}}</span></td>
                                <td><a href="{% url 'order-meta-status' action.pk %}" class="btn btn-primary">تغییر وضعیت</a></td>
                            </tr>
                            {% endif %}
                            {% else %}
                            {% if action in UserActions%}
                            <tr style="border-right: 3px solid blue;" class="rounded">
                                <th scope="row">{{forloop.counter}}</th>
                                <td>{{action.process_action}}</td>
                                <td><span class="border p-2 rounded"
                                        style="background-color: #{{action.status.color}};">{{action.status}}</span></td>
                                <td>وضعیت عملیات قبلی به {{previous_element.status}} تغییر یافته است</td>
                            </tr>
                            {% endif %}
                        {% endif %}
                    {% endwith %}
                {% endfor%}
            </tbody>
        </table>
    </div>


    {% endblock %}

    {% block js%}

    {% endblock %}