{% extends "dashboard/base.html" %}

{% block content %}
<div class="d-flex justify-content-center flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom ">
  <div class="p-2 flex-fill">
    <blockquote
      class="blockquote bq-primary shadow shadow-md m-2 text-center rounded bg-light border-warning text-warning p-3"
      style="border-right: 6px solid;background-color: #ffffe6 !important;">
      <p class="bq-title"> سفارشات ثبت شده: <span class="h1 text-dark ">{{order_count}}</span> <svg
          xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-cart3"
          viewBox="0 0 16 16">
          <path
            d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
        </svg></p>
      </blockquote>

  </div>
  <div class="p-2 flex-fill ">
    <blockquote
      class="blockquote bq-warning shadow shadow-md m-2 text-center rounded bg-light border-primary text-primary p-3"
      style="border-right: 6px solid; background-color: #ddffff !important;">
      <p class="bq-title"> روند‌های ساخته شده: <span class="h1 text-dark">{{process_count}}</span> <svg
          xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-diagram-3"
          viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M6 3.5A1.5 1.5 0 0 1 7.5 2h1A1.5 1.5 0 0 1 10 3.5v1A1.5 1.5 0 0 1 8.5 6v1H14a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-1 0V8h-5v.5a.5.5 0 0 1-1 0V8h-5v.5a.5.5 0 0 1-1 0v-1A.5.5 0 0 1 2 7h5.5V6A1.5 1.5 0 0 1 6 4.5v-1zM8.5 5a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1zM0 11.5A1.5 1.5 0 0 1 1.5 10h1A1.5 1.5 0 0 1 4 11.5v1A1.5 1.5 0 0 1 2.5 14h-1A1.5 1.5 0 0 1 0 12.5v-1zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zm4.5.5A1.5 1.5 0 0 1 7.5 10h1a1.5 1.5 0 0 1 1.5 1.5v1A1.5 1.5 0 0 1 8.5 14h-1A1.5 1.5 0 0 1 6 12.5v-1zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zm4.5.5a1.5 1.5 0 0 1 1.5-1.5h1a1.5 1.5 0 0 1 1.5 1.5v1a1.5 1.5 0 0 1-1.5 1.5h-1a1.5 1.5 0 0 1-1.5-1.5v-1zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1z" />
        </svg></p>
      </blockquote>
  </div>
  <div class="p-2 flex-fill">
    <blockquote
      class="blockquote bq-danger shadow shadow-md m-2 text-center rounded bg-light border-danger text-danger p-3"
      style="border-right: 6px solid;background-color: #fbe9eb !important;">
      <p class="bq-title"> روند‌های فعال : <span class="h1 text-dark">{{active_process}}</span> <svg
          xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor" class="bi bi-diagram-3"
          viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M6 3.5A1.5 1.5 0 0 1 7.5 2h1A1.5 1.5 0 0 1 10 3.5v1A1.5 1.5 0 0 1 8.5 6v1H14a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-1 0V8h-5v.5a.5.5 0 0 1-1 0V8h-5v.5a.5.5 0 0 1-1 0v-1A.5.5 0 0 1 2 7h5.5V6A1.5 1.5 0 0 1 6 4.5v-1zM8.5 5a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1zM0 11.5A1.5 1.5 0 0 1 1.5 10h1A1.5 1.5 0 0 1 4 11.5v1A1.5 1.5 0 0 1 2.5 14h-1A1.5 1.5 0 0 1 0 12.5v-1zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zm4.5.5A1.5 1.5 0 0 1 7.5 10h1a1.5 1.5 0 0 1 1.5 1.5v1A1.5 1.5 0 0 1 8.5 14h-1A1.5 1.5 0 0 1 6 12.5v-1zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zm4.5.5a1.5 1.5 0 0 1 1.5-1.5h1a1.5 1.5 0 0 1 1.5 1.5v1a1.5 1.5 0 0 1-1.5 1.5h-1a1.5 1.5 0 0 1-1.5-1.5v-1zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1z" />
        </svg></p>
      <h1></h1>
    </blockquote>
  </div>
</div>

<div class="container" dir="rtl">
  <h1 class="rounded text-dark text-right m-5">وظایف من</h1>
  <p class="m-5">{{orders|length}} سفارش مرتبط با وظایف شماست</p>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      {% if orders|length >= 1 %}
        {% for order in orders %}
        <div class="card mb-5 bq-primary text-center" style="border-left: 0; border-right: 6px solid; border-top: 0;border-bottom: 0; border-color: #005282; background-color: #f4f4f4;">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <span class="h5 text-secondary">عنوان سفارش: <span class="h4 text-dark">{{order.order_title}}</span></span>
              </div>
              <div class="col">
                <span class="h5 text-secondary">الویت: <span class="h4 text-dark">{{order.priority}}</span></span>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-3"></div>
            <div class="col-md-6">
              <a href="{% url 'order-detail' order.pk %}" class="btn btn-sm btn-block" style="background-color: #005282; color: white;">جزیئات</a>
            </div>
            <div class="col-md-3"></div>
          </div>
            </div>
        </div>
        {% endfor %}
      {% endif %}
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
{% endblock %}